.sistersitebox,
.sisterproject,
.catlinks,
.hatnote,
.noprint,
.navbox,
.ambox,
.plainlinks {
    display: none;
}

#hot_area {
    position: fixed;
    right: 0;
    top: 40px;
    bottom: 0;
    width: 100px;
}

#toc {
    position: fixed;
    top: 0;
    bottom: 0;
    color: #f5dd5d;
    background-color: #417690;
    border: none;
    padding: 50px 50px 50px 50px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s
}

#toc a {
    color: white;
}

#toc h2 {
    font-size: 20px;
    line-height: 50px;
}

#toc {
    right: -100px;
    display: block;
    overflow: scroll;
    width: 0;
}

#hot_area:hover + .mw-body-content #toc,
#toc:hover {
    right: 0;
    width: 400px;
}


.tags {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.tags li {
    float: left;
}

.fake_tag {
    background: #eee;
    border-radius: 3px 3px 3px 3px;
    color: #999;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 10px 0 10px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
}

.tag {
    background: #eee;
    border-radius: 3px 0 0 3px;
    color: #999;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
}

.tag::before {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
}

.tag::after {
    background: #fff;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #eee;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
}

.tag:hover {
    background-color: #417690;
    color: white;
}

.tag:hover::after {
    border-left-color: #417690;
}
